@import "~normalize.css";

// @import "_variables";
// @import "modules/hello.scss";

body {
  background: rgb(82, 36, 82);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
